body {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  background-image: url(../imgs/darkwoods.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #efefef;
  letter-spacing: 1px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
