.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.jumbotron p {
  font-size: 1.1em;
  letter-spacing: .025em;
  margin-top: .25em;
  margin-bottom: .75em;
}

a.btn.btn-primary.btn-lg {
  text-decoration: none;
  border: 2px solid black;
  padding: .25em;
  color: #111;
  font-size: .8em;
  border-radius: 3px;
}
