.sidenav a {
  padding: 10px 0px 10px 32px;
  text-decoration: none;
  font-size: 1em;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

a.btn.btn-primary.btn-lg {
  text-decoration: none;
  border: 2px solid black;
  padding: .25em;
  color: #111;
  font-size: .75em;
  border-radius: 3px;
}

#main p {
  font-size: .75em;
  margin-bottom: 1em;
  margin-top: .25em;
}
